# SPDX-FileCopyrightText: Copyright (c) 2023 - 2024 NVIDIA CORPORATION & AFFILIATES.
# SPDX-FileCopyrightText: All rights reserved.
# SPDX-License-Identifier: Apache-2.0
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

defaults :
  - physicsnemo_default
  - arch:
       - siren
       - fully_connected
       - fourier
  - scheduler: tf_exponential_lr
  - optimizer: adam
  - loss: sum
  - _self_

arch:
  fully_connected:
    layer_size: 128
    nr_layers: 8
  fourier:
    layer_size: 128    # Wider network
    nr_layers: 8       # Deeper network
    frequencies_params: "('axis', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15])"  # Explicit frequency list
  siren:
    layer_size: 128
    nr_layers: 8

cuda_graphs: false
find_unused_parameters: true

scheduler:
  decay_rate: 0.995
  #every {decay_steps} the model is allowed to
  #train this percentage of its current training rate.
  decay_steps: 10000

optimizer:
  lr: 5e-4

training:
  rec_results_freq: 500
  rec_constraint_freq: 10000
  max_steps : 50000

batch_size:
  boundary: 4000
  interior: 8000

# An epoch system is inherently different - epoch implies, usually, a fixed dataset where each epoch is one run-through of the dataset (or a subset)
# However, this system is a little different - every step, it runs through batch_size samples and evaluates loss and learns from those